<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <!--<li><a href="#">About Us</a></li>-->
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <!--<li><a href="#">How it works</a></li>-->
            <!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
            <!--<li><a href="#">Terms</a></li>-->
          </ul>
        </div>
        <!--<p>Copyright &copy; Design &amp; Developed by <a href="http://www.roamworks.com">ROAMWORKS</a>. All rights reserved.</p>-->
        <p><i><b>ROAM</b>WORKS</i> - Copyright &copy; Design &amp; Developed by <a href="http://www.roamworks.com"><i><b>ROAM</b>WORKS</i></a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
