<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>


    {% include header.html %}


    {{ content }}









    {% include footer.html %}

     {% include analytics.html %}

  

    </body>
</html>
